@import "variables";

.text-black-lighten-4 {
  color: $black-lighten-4 !important;
}

.text-black-lighten-3 {
  color: $black-lighten-3 !important;
}

.text-black-lighten-2 {
  color: $black-lighten-2 !important;
}

.text-black-lighten-1 {
  color: $black-lighten-1 !important;
}

.text-white {
  color: $white !important;
}
